.tlo {
    background-color: aqua;
}
.rozmiar {
    font-size: 200px
}
.font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.linia {
    text-decoration: line-through;
}
div {
    text-align: center;
}
